.loading{
    width: 96%;
    height: 83vh !important;
}
.filter >h3{
    margin:2vh 0 ;
}

@media (max-width: 767px) {
    .MuiButtonBase-root{
       width: 2vw;
    }
    .Pagination{
        size: "small";
    }
}