.loading{
    width: 96%;
    height: 83vh !important;
}
#filter{
    background-color: rgba(86, 86, 86, 0.507);
    padding: 1vw;
    border-radius: 5px;
}
#filter .box{
    margin-bottom: 2vw;
    padding: 1vw;
    background-color: black;
    border-radius: 5px;
}
.review{
    width: 90vw;
    background-color: black;
    border-radius: 10px;
    border: 1px solid rgb(61, 61, 61);
    padding: 1vh;
}
@media (max-width: 767px) {
    .MuiButtonBase-root{
       width: 2vw;
    }
    .Pagination{
        size: "small";
    }
}