#popularslide {
    width: 100vw;
    padding: 1vh 0;

}

#popularslide>h2 {
    /* font-size: x-large; */
    color: #fff;
}

.carousel-container {
    overflow: hidden;
    height: 350px;
}

#pMovies {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}


#MovieCard {
    width: 200px;
    height: 300px;
    background-size: cover;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}

.rank {
    margin: 0 2vh;
}


#MovieCard>div {
    display: none;
    background-color: rgba(0, 0, 0, 0.588);
    width: 100%;
    height: 100%;
}

.card-detail {
    padding: 5%;
    position: absolute;
    bottom: 0;
}

.moviekeyword {
    margin-right: 1vw;

}

#MovieCard:hover {
    opacity: 1;
    transform: scale(1.1) translateZ(20px);
    display: block;

}

#MovieCard:hover .cardhover {
    display: block;
}

@media (max-width: 767px) {
    .carousel-container {
        overflow: hidden;
        height: 230px;
    }

    .rank {
        font-size: xx-large;
    }

    #MovieCard {
        width: 150px;
        height: 210px;
    }
}